{
  "env": {
    "production": {
      "plugins": [
				"emotion",
				["module-resolver", {
					"root": ["./"],
					"alias": { "~": "./" }
				}],
				"@babel/plugin-proposal-class-properties"
			]
    },
    "development": {
			"plugins": [
				["emotion", { "sourceMap": true }],
				["module-resolver", {
					"root": ["./"],
					"alias": { "~": "./" }
				}],
				"@babel/plugin-proposal-class-properties"
			]
    }
	},
	"presets": ["next/babel"]
}
